.Multiusecategorieforall{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: aqua;
    width: 250px;
    height: 250px;
    background-image: url("../../../public/assets/images/103c2d9a-f32b-4150-b301-0e7ae73a5b9e.svg");
}