.productsall{
    margin-top:5dvh;
    background-color: rgb(241, 241, 241);
    width: 26dvw;
    aspect-ratio: 1;
    text-decoration: none;
    display: flex;
    justify-content: center;
    background-size: cover;
    :first-child{
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        transition: 1s;
        &:hover{
            filter: brightness(90%);
        }
    }
    p{
        margin-top: 84%;
        margin-bottom: 1%;
        background-color: #ffefef4f;
        display: flex;
        color: black;
        justify-content: center;
        align-items: center;
        font-weight: 400;
        width: 100%;
        height:fit-content;
        font-size: 1.25rem;
    }
    span{
        font-size: 1.5rem;
        display: flex;
        align-items: center;
        justify-content: center;
        color: #C3EAFB;
    }
    .shopicon{
        width: 3rem;
    }
    .holdericon{
        display:"flex";
        justify-Content:"center";
        align-Items:"center"
    }
}
@media (max-width:800px) {
    .productsall{
        width: 20dvw;
        display: flex;
        flex-direction: column;
        padding: 0;
     p{
        display: none;
     }
     .shopicon, span{
        width: 1.5rem;
     }
     .holdericon{
        display: flex;
        flex-direction: column;
        justify-content:center ;
        align-items: center;
     }
    }
     
     
 }