.ReuseButton {
    color: #FFFFFF;
    border: none;
    font-size: 1.1rem;
    font-weight: 550;
    background-color: #C3EAFB;
    width: 9.5rem;
    height: 2.8rem;
    border-radius: 20px;
    transition: 0.7s;   
    text-decoration: none; 
    display: flex;
    align-items: center;
    justify-content: center;
}
.ReuseButton:hover{
    background-color: #0d0d0e;
}
