.forbrands {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding-top: 60px;
}

@media (max-width:430px) {
    .forbrands{
      display: grid;
      grid-template-columns: 1fr 1fr;
      padding: 3%;
    }
    
}