.forbrands {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding-top: 60px;
}
@media (max-width:770px) {
    .forbrands{
        :first-child{
        display: none;}
    }   
}
@media (max-width:430px) {
    .forbrands{
        :last-child , :nth-child(3){
        display: none;
    }
    }
    
}