.temposellers {
    width: 100%;
    height: 100dvh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .fortext{
        display: flex;
        padding-right: 60%;
        font-size: 2rem;
        font-weight: 400;
    }
    .newslideforflex{
        display: flex;
        align-items: center;
        gap: 1rem;
    }
    button{
        background-color: transparent;
        border: none;
        display: flex;
        justify-content: center;
        align-items: center;
        transition: 1s ease;
        width: 1.8rem;
        height: 2.5rem;
        padding: 1rem;
    }
    button:hover{
        background-color: #e4e5e8;
        border-radius: 60px;
    }
}
@media (max-width:800px) {
    .temposellers{
        height: 30dvh;
        p{
            font-size: 1.3rem;
            padding: auto;
        }
    }
     
     
 }