.mainflexdiv {
    display: flex;
    margin-top: 5%;
    justify-content: center;
    align-items: center;
    gap: 5%;
}
.squarediv {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    color: #FFFFFF;
    font-size: 4rem;
    font-weight: 750;
    background-image: url("../../../public/assets/images/img_16_300x300.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding: 5%;
    transition: 1s;
    :first-child{
        font-size: 4rem;
        padding: 0;
        margin: 0;
    }
}
.squarediv:hover {
    background-size: 104%;
}
.squaredivsecond {
    background-image: url("../../../public/assets/images/img_19_2000x.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding: 0;
    padding-bottom: 1%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    color: #FFFFFF;
    :first-child{
        font-size: 1.3rem;
        padding-top: 55px;
        padding-bottom: 37px;
    }
    :nth-child(2) {
        font-size: 2.9rem;
        font-weight: 650;
        line-height: 2.6rem;
        padding-bottom: 50px;

    }
}
@media (max-width:800px) {
    .squaredivsecond{
        height: 20dvh;
        width: 50dvw;

        :nth-child(2){
        display: none;}
    }
    .squarediv{
        height: 20dvh;
        width: 25dvw;
        p{
            display: none;
        }
    }
    
}
@media (min-width:800px) {
    .squaredivsecond{
        height: 40dvh;
        width: 50dvw;
    }
    .squarediv{
        height: 40dvh;
        width: 27dvw;
    }

    
}