.sidemenuforall {
    :last-child{
        border-bottom: none;
    }
    div{
        display: flex;
        border-bottom: solid 2px #EFF0F1;
        align-items: center;
        justify-content: space-between;
        padding: 5px;
        width: 16%;

        p{
            font-size: 1.2rem;
            font-weight: 500;
            padding-top: 20px;
            padding-bottom: 20px;
        }
    }
}