.sidemenuforall {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    width: 20%;
    padding-left: 20%;
    padding-top: 8%;
    p{
        font-size: 1.2rem;
        font-weight: 500;
        padding-top: 20px;
        padding-bottom: 20px;
        color: black;
        }
    button{
        color: black;
        font-size: 1.2rem;
        font-weight: 500;
        padding: 0;
        border: none;
        background-color: transparent;
        display: flex;
        justify-content: space-between;
        align-items: center;
        border-bottom: solid 2px #EFF0F1;

    }
}
