.containall {
    height: 100dvh;
    overflow: hidden;
    display: flex; /* Enable flexbox */
    justify-content: center; /* Center horizontally */
    align-items: center; 
    img{
        width: auto;
        height: 100%;
        transition: 0.7s;
    };
    :hover{
        transform: scale(1.04)
    }
}
@media (max-width:800px) {
   .containall{
    height: fit-content;
    img{
        width: 100%;
        height: auto;
        
    }
   }
    
    
}
