.rightsall {
    display: flex;
    color: #797B7E;
    align-items: center;
    justify-content: space-between;
    padding: 0 180px 0 180px;
}
.fortags {
    display: flex;
    gap: 10px;
    padding-top: 35px;
    padding-bottom: 35px;
}
