.rightsall {
    display: flex;
    color: #797B7E;
    align-items: center;
    justify-content: space-around;
}
.fortags {
    display: flex;
    gap: 10px;
    padding-top: 35px;
    padding-bottom: 35px;
}
