.containallpage {
    display: flex;
    justify-content:space-evenly;
    align-items: center;
    padding: 50px;
    padding-right: 150px;
}
.secondarydiv{
    display: flex;
    flex-direction: column;
    justify-content: left;

}
.txt1 {
    color: #C3EAFB;
    font-size: 4rem;
    font-weight: 700;
    text-align: left;
    line-height: 4rem;
}
.txt2 {
    color: black;
    text-align: left;
    font-size: 1.3rem;
    font-weight: 350;
    padding-top: 20px;
    padding-bottom: 30px;
}
