*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.containtexts {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    // width: 98.9dvw;
}
.p1 {
    color: #C3EAFB;
    font-size: 4.2rem;
    font-weight: 350
}
.p2 {
    color: #C3EAFB;
    font-size: 5rem;
    font-weight: 500;
}
.p3 {
    color: #000000;
    font-size: 1rem;
    font-weight: 300;
    width: 50%;
    padding-bottom: 20px;
}
